*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  cursor: url('./Img/cursor.png'), auto !important;
  ::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 8px;
  }

}


body{
  background-image: url(./Img/Fondo1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: black;
  color: white;
  position:relative;
  
}


#menu-toggle {
  display: none;
}


.hamburger-icon {
  font-size: 30px;
  cursor: pointer;
  display: none; 
}

.nav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin:0;
  font-family: Bahnschrift Light;
  font-size: 14px;
}

.logo{
 width:62.58%;

}

.nav-links a {
  color: white;
  text-decoration: none;
}

/*PC*/
@media(1024px < width <= 1920px){

 .navbar{
 border-radius: 0.5rem 0.5rem 0 0;

 }

 main{
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap:3rem;
 }

 #imgh1{
  width: auto;
  max-width:150px;
  left:0;
  margin-right:1%;
 }

  #imgh2 {
    display:none;
  }

 #imgh3{
  width: auto;
  max-width:250px;
  margin-left: 50%;
 }

 .secimg{
   display: flex;
   flex-direction: row;
   gap:3rem;
   position:relative;
   width: 100%;
   height:85%;
   align-items: center;
   margin-top:0;
  }

 .imgmain1{
    height:100%;
    width:100%;
    
  }

 #aserie{
    display:flex;
    flex-direction: column;
    position:absolute;
    z-index: 2;
    top:87.5%;
    bottom:50%;
    right:51%;
    font-size: 28px;
    width:10rem;
    height:3rem;
    padding-top: 0.5rem;
    padding-left: 0.2rem;
    background-color: red;
    color:white;
    border-radius: 0.3rem;
    text-decoration: none;
    font-family: Bahnschrift Light;
  }

 #aserie:hover{
 text-decoration: none;
 background-color:rgba(57, 62, 31, 0.5) ;
 color:aqua;
 
 }

 .secimgresp{

   display:none;
 }

 
 .sect1{
    display:flex;
    flex-direction: column;
    gap:1rem;
    align-items: center;
    text-align: center;
    border-radius: 0.7rem;
    height:43rem;
    width: 98%;
    padding-left:2rem;
    padding-right:2rem;
    padding-top: 1rem;
    margin:0;
    aspect-ratio: initial;
    background-color: rgba(178, 178, 182, 0.1);
  }

  .artsect1{

    display:flex;
    flex-direction: row;
    width:100%;
    gap:1rem;
  }

  iframe{
    width:70%;
  }

  .artacerca{
    display:flex;
    flex-direction: column;
    width:30%;
  }

  blockquote{
    text-align: justify;
    font-family: Bahnschrift Light;
    color:whitesmoke;
    font-size:20px ;
  }

  #ptitle{
    font-family: Bahnschrift Light; 
    font-size: 32px;
    color:whitesmoke;
  }

 #psubtitle{
    font-family: Bahnschrift Light; 
    font-size: 20px;
    color:whitesmoke;
  }


  h1{
  color: rgb(221, 221, 115);
  font-family: Bahnschrift Light; 
  text-align: center; 
  font-size: 40px;
  text-decoration: none;
  }
 
  .sect1r{
    display:none;
  }


  .separador{
    background-color: rgb(221, 221, 115);
    width: 60%;
    height:3px;
    margin-top:1rem;
    margin-bottom: 1rem;
    border-radius: 10rem;
  }

  .imgsep{
    width: 100%;
    height:100%;
    border-radius: 20rem;
  }

  .separadorresp{
    display:none;
  }

  .sectnov{
    display:flex;
    flex-direction: column;
    text-align: center;
    width:100%;
    height:38rem;
    padding:1rem;
    gap:1rem;
    background-color:transparent;
  }

  .artnovmain{
   display:flex;
   flex-direction: row;
   gap:2rem;
   align-items: center;
   text-align: center;
   width:100%;
   height:40rem;
   background-color:rgba(178, 178, 182, 0.1);
   padding: 3rem;
   border-radius: 0.5rem;

  }

  .artnov1,.artnov2,.artnov3,.artnov4{
   position:relative;
   width:20rem;
   height:20rem;
   box-shadow: 10px 10px 20px 5px rgba(0,0,0,0.3);
  
  }

 .imgnov{
   width:100%;
   height:100%;
  }

 #anov{
   display: none;
   position: absolute;
   top:0;
   bottom: 50%; 
   left: 50%;
   transform: translateX(-50%);
   background-color: rgba(0, 0, 0, 0.7);
   color: #f9f5f6;
   padding-top: 50%;
   padding-bottom: 50%;
   font-size: 14px;
   white-space: nowrap; 
   z-index: 10;
   width:100%;
   height:100%;
  }

 .artnov1:hover #anov{
  display: block;
  scale:unset;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
  }

 .artnov2:hover #anov{
  display: block;
  scale:unset;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
  }

 .artnov3:hover #anov{
  display: block;
  scale:unset;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
 }

 .artnov4:hover #anov{
  display: block;
  scale:unset;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
  }

  .sectnovr{
    display:none;
  }

  .sect2{
 display: flex;
 flex-direction: column;
 gap:8rem;
 text-align: center;
 align-items: center;
 width: 100%;
 height:90rem;
 margin-top:1rem;
 margin-bottom: 5rem;
 background-color: transparent;
 }

 .artaux{
  height:23rem;
    width:100%;  
 }

 .cover{
 position: absolute;
 z-index: 10;
 top:0;
 left:0;
 height:100%;
 width:100%;
 background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
 pointer-events: none; 

 }

 .imgpubli1{
 display: block;
 height:100%;
 width:100%;
 z-index: 9;
 }

  #ptitle1{
    position:absolute;
    font-family: Bahnschrift Light; 
    font-size: 32px;
    color:whitesmoke;
    z-index: 11;
    transform: translate(100%, -800%);
    right: 30rem;
  }

 #blockquote1{
    position:absolute;
    text-align: justify;
    font-family: Bahnschrift Light;
    color:whitesmoke;
    font-size:20px ;
    z-index: 11;
    transform: translate(-50%, -50%);
 }

 .imgpubli2{
   height:100%;
   width:100%;
  }

  .artmainpubli1{
    position:relative;
    height:35rem;
    width:98%;
    padding-left:0;
   
  }

  #acontact{
    display:flex;
    flex-direction: column;
    position:absolute;
    z-index: 2;
    top:63%;
    bottom:50%;
    right:37%;
    font-size: 28px;
    width:10rem;
    height:3rem;
    padding-top: 0.5rem;
    background-color:chocolate;
    color:white;
    border-radius: 0.3rem;
    text-decoration: none;
  }

  #acontact:hover{
   text-decoration: none;
   background-color:rgba(57, 62, 31, 0.5) ;
   color:aqua;
  } 

  .artmainpubli2{
    position:relative;
    height:28rem;
    width:98%;
    padding-left:0;
   
  }

 #apubli{
  display: none;
  position: absolute;
  top:0;
  bottom: 0%; 
  right:0;
  left: 52.52%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  padding-left: 3rem;
  padding-top: 12%;
  padding-left:0; 
  font-size: 14px;
  white-space: nowrap; 
  z-index: 10;
  width:95%;
  height:100%;
  }

 .artmainpubli2:hover #apubli{
  display: block;
  scale:unset;
  font-size: 40px;
  text-decoration: none;
  font-family: Helvetica;
  }

  .sect2r{
    display:none;
  }
  
  .footerpc{
    color:whitesmoke;
    display: flex;
    flex-direction: column;
    gap:1rem;
    background-color:transparent;
    padding:1rem;
    align-items: center;
    text-align: center;
    max-width:100%;
    margin-top: 3rem;
  }

 .navh2{
 display: inline-flex;
 position:relative;
 z-index: 2;
 text-align: right;
 padding: 1rem;
 border-radius: 1rem;
 }

 .sectfooter{
    display: flex;
    flex-direction: row;
    gap:1rem;
  }

  #afooter{
    color:white;
    align-items: center;
    text-align: center;
    font-family: Helvetica;
    font-size: 16px;
  }

 #afooter:not(:last-child)::after {
    content: "|";
    margin-left: 10px;
    color: #ccc;
  }

  #afooter:hover{
    scale:unset;
    text-decoration: none;
    font-family: Helvetica;
    color:red;
  }

  .ahead{
    color:white;
  }

  .ahead:hover{
    color:blue;
  }

  h2{
    font-size: 14;
    font-family: Helvetica;
  }

  .footerresp{
    display:none;
  }


  a:hover{
    
    color:brown;
    text-decoration: underline;
    transition:1s
 }

 #aimg1:hover{

    scale:1.5;
 }
 
 #imgh1:hover{
    scale: 1.2;
 }

 #imgh3:hover{
    scale: 1.2;
 }
}




/* Adaptación para móviles */
@media (300px <= width <= 1024px) {
  body {
    width: 100%; 
    padding: 0 1%; 
    margin: 0;
  }

  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1rem;
  }

  .hamburger-icon {
    display: block; 
  }

  .navbar {
    border-radius: 0.5rem 0.5rem 0 0;
    z-index: 10; 
  }

  .logo {
    width: 80%;
    padding: 0;
  }

  .nav-links {
    display: none; 
    flex-direction: column;
    width: 100%; 
    position: absolute;
    top: 100%;
    right: 0;
    background: black;
    border:1px solid silver;
    margin: 0;
    padding: 1rem;
    align-items: center;
    text-align: right;
    z-index: 10;
    font-size: 24px;
  }

  #menu-toggle:checked ~ .nav-links {
    display: flex;
  }

  
  .secimg {
    display: none;
  }

  .secimgresp {
    display: flex;
    flex-direction: column; 
    gap: 1.5rem;
    width: 100%;
    align-items: center;
    padding:0;
  }

  #imgh1 {
    display:none;
  }

  #imgh2{
    width: 80%; 
    height:80%;
    max-width: 250px;
    margin: 0;
  }

  #imgh3 {
    display:none;
  }

  .imgmain1 {
    width: 100%;
    height: auto; 
  }

  
  .sect1r {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    text-align: center;
    border-radius: 0.7rem;
    width: 100%;
    padding: 2rem 1rem;
    margin-top: 2rem; 
    background-color: rgba(178, 178, 182, 0.1);
  }

  .artsect1r {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 100%;
    gap: 1rem;
  }
  
  .artvideor {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    max-width: 800px;
    margin: 0 auto;
  }

  .iframer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  .artacercar {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #blockquoter {
    text-align: justify;
    font-family: 'Bahnschrift', sans-serif;
    color: whitesmoke;
    font-size: 18px;
    margin: 0;
  }

  #ptitler {
    font-family: 'Bahnschrift', sans-serif; 
    font-size: 28px;
    color: whitesmoke;
  }

  #psubtitler {
    font-family: 'Bahnschrift', sans-serif; 
    font-size: 18px;
    color: whitesmoke;
  }

  h1 {
    color: rgb(221, 221, 115);
    font-family: 'Bahnschrift', sans-serif; 
    text-align: center; 
    font-size: 22px;
  }
  
  /* Ocultar elementos desktop */
  .sect1, .separador, .sectnov, .sect2 {
    display: none;
  }
  
  .separadorresp{
    height:0.2rem;
    width:80%;
    border-radius: 0.2rem;
  }

  .imgsepresp{
    height:100%;
    width:100%;
    border-radius: 0.2rem;
  }

  .sectnovr {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;
    gap: 1rem;
  }

  .artnovmainr {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 100%;
    background-color: rgba(178, 178, 182, 0.1);
    padding: 2rem 1rem;
    border-radius: 0.5rem;
  }

  .artnov1r, .artnov2r, .artnov3r, .artnov4r {
    position: relative;
    width: 90%; 
    aspect-ratio: 4 / 3; 
    box-shadow: 10px 10px 20px 5px rgba(0,0,0,0.3);
  }

  .imgnovr {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }

  .sect2r {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    width: 100%;
    margin: 2rem 0;
  } 

  .artmainpubli1r {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;

    #acontactr{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 12rem;
    height: 3rem;
    background-color: chocolate;
    color: white;
    border-radius: 0.3rem;
    text-decoration: none;
    margin: 1rem auto; 
    position:absolute;
    top:60%;
    right: 30%;
    }

   #acontactr:hover {
    background-color: rgba(57, 62, 31, 0.8);
    color: aqua;
    }
  }

  .cover {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4); 
    pointer-events: none; 
  }

  .imgpubli1r {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  #ptitle1r {
    position: absolute;
    font-family: 'Bahnschrift', sans-serif; 
    font-size: 24px;
    color: whitesmoke;
    z-index: 3;
    top: 10%;
    left: 5%;
  }

  #blockquote1r {
    position: absolute;
    font-family: 'Bahnschrift', sans-serif;
    color: whitesmoke;
    font-size: 16px ;
    z-index: 3;
    bottom: 10%;
    left: 5%;
    right: 5%;
  }

  .artmainpubli2r {
    width: 100%;
    aspect-ratio: 16 / 9;
  }

  .imgpubli2r {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .footerresp{
    color:whitesmoke;
    display: flex;
    flex-direction: column;
    gap:1rem;
    background-color:transparent;
    padding:1rem;
    align-items: center;
    text-align: center;
    max-width:100%;
    margin-top: 2rem;
  }

 .navh2resp{
   display: inline-flex;
   position:relative;
   z-index: 2;
   text-align: right;
   padding: 1rem;
   border-radius: 1rem;
 }

 .sectfooterresp{
    display: flex;
    flex-direction: row;
    gap:1rem;
  }

  #afooterresp{
    color:white;
    align-items: center;
    text-align: center;
    font-family: Helvetica;
    font-size: 16px;
  }

 #afooterresp:not(:last-child)::after {
    content: "|";
    margin-left: 10px;
    color: #ccc;
  }

  #afooterresp:hover{
    scale:unset;
    text-decoration: none;
    font-family: Helvetica;
    color:red;
  }

  .aheadresp{
    color:white;
  }

  .aheadresp:hover{
    color:blue;
  }

  .h2resp{
    font-size: 14;
    font-family: Helvetica;
  }

  .footerpc{
    display:none;
  }
}




