

.iframecast{ 
    width:96%; 
    height:80rem; 
    justify-content: center; 
    text-align: center; 
    border-radius: 0.7rem; 
    border-style:inset; 
    padding:20px;  
}

.iframecast::-webkit-scrollbar {
    display: none; 
}




