*{
 cursor: url('../Img/cursor.png'), auto !important;
 box-sizing: border-box;
}

body{
    background-image:  linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../Img/Fondo\ Dojos.jpg); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    width:100%;

}

main{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align:center;
    border: 3px sold gold;
    width:100%;
}


@media(1024px <= width <= 1920px){

    .dojoscont{
    display:flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: space-between; 
    gap:3rem; 
    width: max-content; 
    height:20vw; 
    border: transparent; 
    margin:0;
    border:2px solid blue; 
    padding:0;
    margin: 0 auto;
   }

   

    .cobra,.miyagi{
    border: transparent;
    height: 100%; 
    flex: 1 1 calc(50% - 1.5rem);
    
    }

    .miyagi:hover{
    scale: 1.05; 
    opacity:0.7;
    transition: 0.7s;
    }

    .cobra:hover{
    scale: 1.05; 
    opacity:0.7;
    transition: 0.7s;
    }

    h1{
    color:gold; 
    text-decoration: underline; 
    padding-top: 0;
    font-size:60px;
    }

}

@media (width < 1024px){

    *{
      cursor:alias !important;
      
    } 

   body{
    background-image:  linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../Img/bannermobile.jpg); 
    background-size:cover; 
    background-position: center; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    width:100%;
    height:auto;
    margin:0;
    padding:0;
    }

    main{
     width:100%;   
    }

  .dojoscont{
    display:flex; 
    flex-direction: column; 
    align-items: center; 
    text-align:center;
    gap:3rem; 
    width: 60%; 
    height:auto; 
    border: transparent; 
    margin:0; 
    border:2px solid blue;
   }

   
    .cobra,.miyagi{
    border: transparent;
    width:100%; 
    flex: 1 1 calc(50% - 1.5rem);
    
    }

    .miyagi:hover{
    scale: 1.05; 
    opacity:0.7;
    transition: 0.7s;
    }

    .cobra:hover{
    scale: 1.05; 
    opacity:0.7;
    transition: 0.7s;
    }

    h1{
    color:rgb(0, 0, 0); 
    text-decoration: underline; 
    padding-top: 0;
    font-size:53px;
    }

}


