*{

    margin:0 auto;
    padding:0;
    box-sizing: border-box;
    cursor: url('./Img/cursor.png'), auto !important;
    
}


body{
  
   width:100%;
   height:100%;
}

#mainenvio{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(../Img/fondo\ envio\ exitoso.jpg);
    background-position:center;
    background-attachment:scroll;
    background-size:cover;
    background-repeat:repeat;
    width:100%;
    height:100%;
   
    margin-top:0;
    display:flex;
   flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 5%;
    
}

.artmensaje{
    
    background-color: rgba(60, 54, 54, 0.5);
    border-radius: 0.7rem;
    width:87%;
    height:87%;
    display:flex;
   flex-direction: column;
    text-align: center;
    align-items: center;
}

h1,h2,h3{ color:azure; font-family: Arial, Helvetica, sans-serif;}

h1{font-size: 120px;}

h2{font-size: 60px;}

h3{font-size: 60px;}

#aback{
    width:9rem;
    height:3rem;
    text-decoration: none;
    color:aquamarine;
    background-color: rgb(4, 4, 4);
    border:2px solid aquamarine;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.7rem;
    margin-top: 2rem;
    cursor: pointer !important;
    padding:0;
}

#aback:hover{

    scale: 1.2;
    color:rgb(4, 4, 4);
    background-color: aquamarine;
    border:2px solid rgb(4, 4, 4);
    border-radius: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer !important;
}

#footermsj{
    margin-top:5rem;
}